@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
}

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-ltr {
  display: flex;
  width: max-content;
  animation: marquee-left-to-right 30s linear infinite; /* 30s for slightly slower fan-like feel */
}

/* Left to Right Marquee */
@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Right to Left Marquee */
@keyframes marquee-right-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-ltr {
  display: flex;
  width: max-content;
  animation: marquee-left-to-right 25s linear infinite;
}

.animate-marquee-rtl {
  display: flex;
  width: max-content;
  animation: marquee-right-to-left 25s linear infinite;
}
